.container{
	max-width : none;
}
.wdi_red{
	color: #dd3247;
}

.login_box{
	background: #fff;
	padding: 50px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
/*input 영역*/
.flat_input{
	margin-top: 20px;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #dd3247;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 96%, #dd3247 4%);
	background: linear-gradient(to bottom , rgba(255,255,255,0) 96%, #dd3247 4%);
	background-position: -500px 0;
	background-size: 100% 100%;
	background-repeat: no-repeat; 
}
/*input 영역 클릭 했을 때*/
.flat_input:focus{
	box-shadow: none;
	outline: none;
	background-position: 0 0;
	border-bottom: 1px solid #dd3247;
}

.btn_submit{
	border-radius: 0;
	background: #dd3247;
	color: #fff;
	text-decoration-color: none;
	-webkit-transition: all 0.8s;
	transition: all 0.8s;
}

.btn_submit:hover{
	background: transparent;
	border: 1px solid #dd3247;
	color: #dd3247;
}

.btn_cancel{
	border-radius: 0;
	background: gray;
	color: #fff;
	text-decoration-color: none;
	-webkit-transition: all 0.8s;
	transition: all 0.8s;
}

.btn_cancel:hover{
	background: transparent;
	border: 1px solid gray;
	color: gray;
}

