.container{
	max-width : none;
}
.wdi_red{
	color: #dd3247;
}
.login_box{
	background: #fff;
	padding: 0px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/*상단,하단 바 제외한 가운데 영역*/
.main_area{
	margin-bottom: 5px;
	margin-top: 5px;
	background: #fff;
}
/*로그아웃 버튼*/
.btn_logout{
	border: 0;
	margin-left: 25px;
	margin-top: 10px;
	align-content: right;
	background: #f9f9f9;
	color: #6c757d;
	max-width: 60px;
	max-height: 30px;
}
/*로그아웃 버튼에 마우스 올릴 때*/
.btn_logout:hover{
	border-radius: 0;
	background: transparent;
	border: 1px solid #dd3247;
	color: #dd3247;
	max-width: 60px;
	max-height: 30px;
}
.list-group-item{
	border-radius: 0;
	font-size: 12px;
	font-weight: bold;
	box-shadow: none;
}
.list-group-item:hover,.list-group-item:focus{
	border-radius: 0;
	font-size: 12px;
	font-weight: bold;
	box-shadow: none;
	color: #dd3247;
}
.user_icon{
	font-size:40px; 
	color: gray;
}
.info{
	font-weight: bold;
	color: gray;
}