
.app-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
    background-color: #f9f9f9;
}

.app-header-logo {
	color: #dd3247;
	margin :8px;
}
.btn-log-out{
	border: 0;
	background: #f9f9f9;
	color: #6c757d;
}

.btn-log-out:hover{
	border: 0;
	background: #f9f9f9;
	color:  #dd3247;
}
