<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd" >
 
<configuration>
	<typeAliases>
		<typeAlias alias="user" type="com.homeworkNotice.dto.UserDto"/>
		<typeAlias alias="homework" type="com.homeworkNotice.dto.HomeworkDto"/>
		<typeAlias alias="subject" type="com.homeworkNotice.dto.SubjectDto"/>
		<typeAlias alias="timeTable" type="com.homeworkNotice.dto.TimeTableDto"/>
		<typeAlias alias="team" type="com.homeworkNotice.dto.TeamDto"/>
		<typeAlias alias="complete" type="com.homeworkNotice.dto.CompleteDto"/>
		<typeAlias alias="blackboard" type="com.homeworkNotice.dto.BlackboardDto"/>
	</typeAliases>
	
    <mappers>
        <mapper resource ="userMapper.xml"/>
        <mapper resource ="homeworkMapper.xml"/>
        <mapper resource="subjectMapper.xml"/>
        <mapper resource="timeTableMapper.xml"/>
        <mapper resource="teamMapper.xml"/>
        <mapper resource="completeMapper.xml"/>
        <mapper resource="blackboardMapper.xml"/>
    </mappers >
</configuration>
 